{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/jquery-ui-1.12.1.min.css' %}">
{% endblock %}

{% block head_javascript %}
<script src="{% static 'js/helpers.js' %}"></script>
{% endblock %}

{% block blogBlock %}active{% endblock %}

{% block content %}
{% csrf_token %}

<div id="wrapper_div_input_search">
    <input type="text" id="search_input" class="input_search" placeholder="Search posts...">
</div>

<div class="container">
    <div class="container">
        <table id="search_table" class="table_search">
            <tbody></tbody>
        </table>
    </div>
</div> <!-- end container -->
{% endblock %}

{% block footer_javascript %}
<script src="{% static 'js/view_posts.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
{% endblock %}