.div_post {
    margin: auto;
    padding: 20px;
    min-height: 400px;
    width: 100%;
    background-color: #fcfcfc;
    opacity: 80%;
    margin: 5px 0px 20px 0px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/*.div_post h1 {
    font-size: 36px;
    font-weight: bold;
}

.div_post p {
    font-size: 18px;
}*/

.div_post_top {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.img_post {
    transform: translate(0%, calc(75px - 50%));
    background-repeat: no-repeat;
    width: 100%;
}

@media screen and (max-width: 720px){
    .div_post {
        padding: 20px;
        min-height: 300px;
        margin: 5px 0px 20px 0px;
        border-radius: 3px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }

    /*
    .div_post h1 {
        font-size: 30px;
    }

    .div_post p {
        font-size: 18px;
    }
    */

    .div_post_top {
        height: 150px;
    }
}

@media screen and (max-width: 480px){
    .div_post {
        padding: 20px;
        min-height: 200px;
        margin: 5px 0px 20px 0px;
        border-radius: 3px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }

    /*.div_post h1 {
        font-size: 24px;
    }

    .div_post_top {
        height: 100px;
    }*/
}