/* general */
html, body {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #ececec;
}

.title_xlarge, .title_large, .title_medium, .title_small{
    font-weight: bold;
}

.title_xlarge {
    font-size: 44px;
}

.title_large {
    font-size: 36px;
}

.title_medium {
    font-size: 30px;
}

.title_small {
    font-size: 26px;
}

.text_large {
    font-size: 18px;
}

.text_medium {
    font-size: 16px;
}

.text_small {
    font-size: 14px;
}

.my_container{
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}

@media screen and (max-width: 720px){
    .title_xlarge {
        font-size: 36px;
    }

    .title_large {
        font-size: 30px;
    }

    .title_medium {
        font-size: 24px;
    }

    .title_small {
        font-size: 20px;
    }

    .text_large {
        font-size: 14px;
    }

    .text_medium {
        font-size: 12px;
    }

    .text_small {
        font-size: 10px;
    }

    .my_container{
        padding: 15px 15px 15px 15px;
    }
}

@media screen and (max-width: 480px){
    .title_xlarge {
        font-size: 30px;
    }

    .title_large {
        font-size: 24px;
    }

    .title_medium {
        font-size: 20px;
    }

    .title_small {
        font-size: 16px;
    }

    .text_large {
        font-size: 12px;
    }

    .text_medium {
        font-size: 10px;
    }

    .text_small {
        font-size: 8px;
    }

    .my_container{
        padding: 10px 10px 10px 10px;
    }
}


/* specific */
.trnsprnt_bckgrnd {
    background-color: transparent;
}

.navbar_custom, .footer {
    background-color: #fcfcfc;
    color: #3c3c3c;
    font-color: #3c3c3c;
}

.fill_page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0px;
    background-color: #ececec;
}

.footer {
    bottom: 0px;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.float_center {
    position: fixed;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
}

/* Error */
.error_window {
    min-width: 25%;
    max-width: 35%;
    background-color: #fcfcfc;
    opacity: 80%;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ececec;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    /* font-size: 16px; */
}

@media screen and (max-width: 720px){
    .error_window {
        /* font-size: 12px; */
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (max-width: 480px){
    .error_window {
        /* font-size: 8px; */
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
}

/* Inputs */
/* Search */
#wrapper_div_input_search {
    background-color: transparent;
    height: 80px;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.input_search {
    background-image: url('/static/img/search-icon.png');
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 95%;
    /* font-size: 16px; */
    padding: 12px 20px 12px 40px;
    border: 1px soild #ddd;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.input_search::-webkit-input-placeholder {
    color: #9c9c9c;
}
.input_search::-moz-placeholder {
    color: #9c9c9c;
} /* firefox 19+ */
.input_search:-moz-placeholder {
    color: #9c9c9c;
} /* firefox 18 */
.input_search:-ms-input-placeholder {
    color: #9c9c9c;
} /* ie */

/* Tables */
/* Search */
.table_search {
    width: 100%;
    border-collapse: collapse;
}

.table_search tr {}

.table_search tr:first-child {}

.table_search tr:last-child {}

/*.table_search tr:not(:first-child) {}*/

.td_div_search_post {
    margin: auto;
    height: 200px;
    width: 100%;
    background-color: #fcfcfc;
    opacity: 80%;
    margin: 5px 0px 20px 0px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.td_div_search_post a {
    font-size: 30px;
    text-decoration: none;
}

.td_div_search_post .left,
.td_div_search_post .right {
    display: inline-block;
    height: 200px;
}

.td_div_search_post .left {
    float: left;
    width: 200px;
}

.td_div_search_post .right {
    width: calc(100% - 200px);
    /* font-size: 16px; */
}

.td_div_search_post .left .img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.td_div_search_post .right .title {
    height: 40%;
    /*padding: 20px 20px 10px 20px;*/
    /* font-size: 24px; */
    font-weight: bold;
}

.td_div_search_post .right .tags {
    height: 40%;
    /*padding: 0px 20px 10px 20px;*/
}

.td_div_search_post .right .bottom {
    height: 20%;
    width: 100%;
    /*padding: 0px 20px 20px 20px;*/
    text-align: right;
    font-style: italic;
}

@media screen and (max-width: 720px){
    .td_div_search_post {
        height: 125px;
        margin: 2px 0px 10px 0px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    }

    .td_div_search_post a {
        font-size: 24px;
    }

    .td_div_search_post .left,
    .td_div_search_post .right{
        height: 125px;
    }

    .td_div_search_post .left {
        width: 125px;
    }

    .td_div_search_post .right {
        width: calc(100% - 125px);
        /* font-size: 12px; */
    }

    .td_div_search_post .right .title {
        /*padding: 10px 10px 5px 10px;*/
        /* font-size: 16px; */
    }

    .td_div_search_post .right .tags {
        /*padding: 0px 10px 5px 10px;*/
    }

    .td_div_search_post .right .bottom {
        /*padding: 0px 10px 10px 10px;*/
    }
}

@media screen and (max-width: 480px){
    .td_div_search_post {
        height: 100px;
        margin: 1px 0px 5px 0px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .td_div_search_post a {
        font-size: 20px;
        margin: 0px;
    }

    .td_div_search_post .left,
    .td_div_search_post .right{
        height: 100px;
    }

    .td_div_search_post .left {
        width: 100px;
    }

    .td_div_search_post .right {
        width: calc(100% - 100px);
        /* font-size: 8px; */
    }

    .td_div_search_post .right .title {
        /*padding: 5px 5px 2px 5px;*/
        /* font-size: 12px; */
    }

    .td_div_search_post .right .tags {
        visibility: hidden;
    }

    .td_div_search_post .right .bottom {
        /*padding: 0px 5px 5px 5px;*/
    }
}

/* Old */
.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}
